.header {
  color: #eee;
  display: flex;
  align-items: center;
  &.header__container {
    // height: 5rem;
    min-height: 5rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #444;
  }
  &.header__logo {
    width: 17%;
    justify-content: center;
    &__container {
      display: flex;
      justify-content: center;
    }
  }
  &.header__menu {
    margin-left: 1rem;
    justify-content: center;
  }
}
