* {
  padding: 0;
  margin: 0; }

button,
a,
input,
button:focus,
a:focus,
input:focus {
  outline: none;
  color: inherit; }

hr {
  width: 100%; }

a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

button {
  outline: none; }

input[type='text'],
input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.headline {
  color: white; }
  .headline__container {
    width: 100%;
    background-color: lightskyblue; }
  .headline__contacts {
    display: inline-flex;
    align-items: center; }
  .headline__login {
    display: inline-flex;
    align-items: center; }
  .headline__item {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .headline hr {
    height: 0px; }

.header {
  color: #eee;
  display: flex;
  align-items: center; }
  .header.header__container {
    min-height: 5rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #444; }
  .header.header__logo {
    width: 17%;
    justify-content: center; }
    .header.header__logo__container {
      display: flex;
      justify-content: center; }
  .header.header__menu {
    margin-left: 1rem;
    justify-content: center; }

.menu.menu__button {
  color: white;
  background-color: transparent;
  margin-left: 1rem;
  border: 0px; }
  .menu.menu__button:hover {
    color: red;
    background-color: transparent; }

.section {
  color: white;
  padding: 2rem; }
  .section.section__main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; }
    .section.section__main__container {
      background-color: #3d2c2c; }
  .section.section__main__head {
    width: 100%; }
  .section.section__secondary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .section.section__secondary__container {
      background-color: whitesmoke; }
    .section.section__secondary--dark {
      background-color: #8a6e6e; }

.achievement {
  display: flex;
  justify-content: center;
  align-items: center; }
  .achievement.achievement__container {
    border: 5px solid lightskyblue;
    box-shadow: 0px 0px 5px 5px lightskyblue;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: white; }
    .achievement.achievement__container > img {
      width: 80%; }
  .achievement__description {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 7rem;
    text-align: left; }
  .achievement.achievement__overlay {
    border: 1px solid lightskyblue;
    background: transparent;
    margin: 8px 8px; }
    .achievement.achievement__overlay.overlay1 {
      box-shadow: 0px 0px 2px 2px lightskyblue;
      border-radius: 50%;
      width: 6rem;
      height: 6rem; }
    .achievement.achievement__overlay.overlay2 {
      box-shadow: 0px 0px 1px 1px lightskyblue;
      border-radius: 50%;
      width: 8rem;
      height: 8rem; }
